@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@200&display=swap');

::-webkit-scrollbar {
    width: 7px;
    background: #996600;
}

::-webkit-scrollbar-track {
    background: #996600; 
}

::-webkit-scrollbar-thumb {
    background: whitesmoke; 
}

::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}


body{
    background-color: whitesmoke; 
    color: #1a1a1a; 
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0px 0px;
}

ul{
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
    gap: 50px;
    list-style: none;
}

li:hover{
    font-weight: bold;
    }

header{
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color:#333333;
    padding-left: 20px;
    color:whitesmoke;
    height:fit-content;
    position:fixed;
    top:0;
    width:100%;
}    

a{
    color:whitesmoke;
    text-decoration:none;
    }

.nombre{
    padding:5px 5px;
}

.column{
float:left;
width:25%;
}

.fotos{
    display:flex;
    flex-direction:row;
    Justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin:75px 0px 0px 0px;
    object-fit:contain;
    gap:5px;
    }


.subt{
    color:#996600;
    font-weight: bold;
    font-size: 18px;
}

.hola{
    padding:40px 20px 60px 20px;
    background-color: #333333;
    color:whitesmoke;
}

.ironicas{
    padding:20px 20px 0px 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:16px;
    min-height:350px;
    max-width:300px;
  }

.cardcontainer{
    display: flex;
    flex-direction: row;
    Justify-content: flex-start;
    gap:30px;
    align-items: center;
    align-content: center;
    padding:0px 20px 20px 20px;
}
.container1{
    display: flex;
    flex-direction: column;
    Justify-content: space-evenly;
    gap:30px;
    align-items: center;
    padding:0px 0px 0px 20px;
}

.leather{
    display: flex;
    flex-direction:row;
}

.piel{
  box-shadow: 8px 8px 16px 4px rgba(0, 0, 0, 0.2);
}

.lema{
    padding:0px 20px 80px 20px;
}


.recaudacion{
    padding:40px 20px 40px 20px;
    background-color: #333333;
}

.container2{
height:300px;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 1fr 1fr;
grid-gap:10px;
align-content: space-evenly;
justify-items: center;
align-items:start;
color:whitesmoke;
}

.box{
font-size: 24px;
justify-items: center;
box-shadow: 2px 8px 16px 2px #1a1a1a;
padding:16px;
height:80px;
width: 300px;
text-align: center;
vertical-align:middle;
}

.euro{
    font-size: 32px;
}

.contribuye{
    padding:40px 0px 40px 20px;
}

.container3{
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
    Justify-content: center;
    padding:0px 0px 20px 0px;
}

.conteuro{
    display:flex;
    flex-direction: column;
    align-items: center;
    Justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:16px;
    height:400px;
    width: 300px;
    vertical-align: middle;
    font-size: 18px;
}

button{
    width: 98%;
    background-color:#996600;
    color:whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.donantes{
    margin:20px 20px 40px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:16px;
}

section {
    width: 70%;
    Float:left;
}

#page-container {
    position: relative;
    min-height: 80vh;
}

#content-wrap {
    padding-bottom: 10rem;
}


footer{
    position: fixed;
    background-color:#333333;
    padding:0px 20px 0px 0px;
    bottom:0;
    width:100%;
    height: 5rem;
}

.container5{
    display: flex;
    flex-direction: row;
    Justify-content: flex-start;
    gap:30px;
    align-items: center;
    align-content: center;
    padding:0px 20px 20px 20px;
}

.column2{
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.foot:hover{
    font-weight: bold;
    }

/* formato del aside */
aside {
    position: fixed;
    top:80px;
    left: 70%;
    width: 30%;
    margin-left: 5px;
    float: right;
    background-color: whitesmoke;
}

.form{
    margin: 10px 10px;
    padding: 20px 20px 20px 20px;
    border:0.1px solid #ccc;
    background-color: #fdfdfd;
    border-radius: 2px;
    box-sizing: border-box;  
    height: 400px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;    
}

